<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Live</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>io.hypertrack.sendeta</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sendeta</string>
				<string>fb1544357779206506</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.hypertracklive</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.hypertracklive</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>012ca85a4085707d726df8e4cc885fa5109d825a</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>fb-messenger</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>HyperTrack Live needs to access the camera to take your display picture</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>To let your friends and family track you live, you need to allow HyperTrack Live to access this device’s location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>To let your friends and family track you live, you need to allow HyperTrack Live to access this device’s location</string>
	<key>NSMotionUsageDescription</key>
	<string>To track your movement accurately, HyperTrack Live needs to access motion sensors</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To add your display picture, you need to allow HyperTrack Live to access the photo library</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_gdCvQ1d2gOu202mKtHJqsdicqydVND3A</string>
		<key>test</key>
		<string>key_test_baCxKZfWoRxX67bGsVJuAkdazvbSPC3P</string>
	</dict>
</dict>
</plist>
